:root{
    --main-color: #0a36fb;
    --second-color: #f1a003;
    --third-color: #f1d302;

    --neutural-100: #33303e;
    --neutural-200: #4e4b59;
    --neutural-300: #5F5C6B;
    --neutural-400: #7A7786;
    --neutural-500: #C6C5CE;
    --neutural-600: #F1F0F5;

    --white-color: #FFFFFF;

}